
* {box-sizing: border-box;}

table, th{
  border-left: 1px dashed;
  border-top: 1px dashed;
  border-bottom: 1px dashed;
  text-align:center;
}
td {
  border-left: 1px dashed;
  border-bottom: 1px dashed;
  text-align:center;
}
/* ===================================================================== */

.body{
    margin:0px;
}

#maininput {
    margin-left:10px;
    width:98%;
    height:300px;
}

#demo-container{
    width:100%;
    height:93vh;
    margin:2px;
    border-top:solid;
    bolder-right:solid;
    position:relative
}

#explain-head{
    font-size:110%;
    font-weight:bold;
    font-family:monospace;
}
#explain-area{
    border：solid 10px;
}


#buttons{
    margin:10px 5px 5px 5px;
}

.demo-area{
    padding:5px;
    line-height:150%;
    font-family:"Times";
    font-size:0.2in;
}

.colorful-button{
    margin:0px;
    border:2px solid;
    padding:5px;
    border-radius:8px;
    //float:left;
}
.dark-button{
    border:solid 1px;
    padding:5px;
    border-radius:8px;
    //float:left;
}

.word-filler {
    font-weight:bold;
//    font-size:125%;
    margin-left:0.05in;
    margin-right:0.05in;
    font-family:monospace;
    position:relative;
    white-space:nowrap;
}

.word-filler-current {
    //font-size:145%;
    font-family:monospace;
    // margin-right:6%;
    position:relative;
    white-space:nowrap;
}

.word-filler-done {
//    color: #01a756;
   // text-decoration: underline;
   // text-decoration-color: 01a756;
    font-weight:bold;
    font-family:monospace;
    animation:blinkingText 0.4s 1;
    position:relative;
    white-space:nowrap;
}

.word-filler-dup{
    font-weight:bold;
}

#explain-container{
    border-left:dotted 1px grey;
    overflow-y:auto;
    height:93vh;
    position:absolute;
    left:65%;
    right:1%;
}

#text-container{
    position:absolute;
    width:65%;
    height:93vh;
    overflow-y:scroll; 
}

#demo{
    width:100%;
    border:solid 1px gray;
    overflow-x:hide; 
}

.red-zone{
}

