
* {box-sizing: border-box;}
   
/* ===================================================================== */

.body{
    background:rgba(40,40,30);/*rgba(220,200,180);*/
    color:rgba(220,220,220);
    margin:0px;
}

#maininput {
    margin-left:10px;
    width:98%;
    height:300px;
    color:#ffa31a;
    background:black;
}

#demo-container{
    background:black;
    width:100%;
    height:93vh;
    margin:2px;
    border-top:solid;
    bolder-right:solid;
}

#explain-head{
    color:lightblue;
    font-size:130%;
    font-weight:bold;
}
#explain-area{
    background:black;
}


#buttons{
    margin:10px 5px 5px 5px;
}

.demo-area{
    padding:5px;
    line-height:150%;
    font-family:"Times";
    font-size:0.2in;
}

.colorful-button{
    background:#ffa31a;
    color:black;
    margin:0px;
    border:0px;
    padding:3px;
    border-radius:8px;
    //float:left;
}
.dark-button{
    color:#ffa31a;
    background:black;
    border:solid 1px;
    border-color:#ffa31a;;
    padding:3px;
    border-radius:8px;
    //float:left;
}

.word-filler {
    color:#ffa31a;
    font-weight:bold;
    font-size:125%;
    margin-left:0.05in;
    margin-right:0.05in;
}

.word-filler-current {
    color:pink;
    font-size:145%;
    border:1px solid rgba(255,170,0);
    // margin-right:6%;
}

.word-filler-done {
    color: #00D7D7;
    font-weight:bold;
}

.word-filler-dup{
    font-weight:bold;
}

#explain-container{
    border-left:dotted 1px grey;
    overflow-y:scroll;
    height:93vh;
    position:absolute;
    left:65%;
    right:1%;
}

#text-container{
    position:absolute;
    width:65%;
    height:93vh;
    overflow-y:scroll; 
}

#demo{
    width:100%; 
    border:solid 1px gray; 
}

.red-zone{
    color:#fc2200;
}
