
* {box-sizing: border-box;}
   
/* ===================================================================== */

.body{
    background:rgba(40,40,30);/*rgba(220,200,180);*/
    color:rgba(220,220,220);
}

div {
    scrollbar-color: #993300 #110011;
    scrollbar-width: 8px;
}

#maininput {
    color:#ffa31a;
    background:black;
}

#demo-container{
    background:black;
}

#explain-head{
    color:lightblue;
}
#explain-area{
    background:black;
}



.demo-area{
}

.colorful-button{
    background:#ffa31a;
    color:black;
    //float:left;
}
.dark-button{
    color:#ffa31a;
    background:black;
    border-color:#ffa31a;;
}

.word-filler {
    color:#ffa31a;
}

.word-filler-current {
    color:pink;
    border:1px solid rgba(255,170,0);
}

.word-filler-done {
    color: #30b787;
}


#demo{
    border:solid 1px gray; 
}

.red-zone{
    color:#fc2200;
}


.current-noter-container{
    position:absolute;
    bottom:-4px;
    left:-4px;
    right: -6px;
    height: 2.8ex;
    text-align:justify;
    text-decoration: underline;
    animation:slidingTextRight 0.4s 1;
    border: #ca234EDD solid 3px;
}

@keyframes blinkingText{
    0%{     color: #cF8;    }
    30%{    color: #F29; }
    60%{   color: #33F;    }
}

@keyframes slidingTextLeft{
    from{ left:-1em; }
    to{ left:-1ch; }
}

@keyframes slidingTextRight{
    from{ right:100%;
	  background-color:#84208090;
//	  border-top:0px;
	  border-right:0px;}
    to{ right:-6px;
//	border-top:0px;
        background-color:#99664030;
	border-right:0px}
}
