
* {box-sizing: border-box;}
   
/* ===================================================================== */

.body{
    background: rgb(255 255 255);/*rgba(220,200,180);*/
    color:rgb(11 11 11);
//    margin:0px;
}

div {
    scrollbar-color:#ffcc88 #330000 ;
    scrollbar-width: 5px;
}


#maininput {
 //   margin-left:10px;
 //   width:98%;
 //   height:300px;
    color:#31353e;
    background:#fefefe;
}

#explain-head{
    color:#2242a1;
}
#explain-area{
    background:#ffffffd3;
    border-color #ecbd6f;
}

.colorful-button{
    background:#efca73;
    border: 1px solid #ff838a;
    color:black;
}
.dark-button{
    color:#efc37a;
    background:#0d1d29;
    border-color:#cfc3ca;;
}

.word-filler {
    color:#af411c;
}

.word-filler-current {
    color:#c053a4;
    border:1px solid rgba(255,170,0);
}

.word-filler-done {
//    color: #01a756;
    color:#2242a1;
}

#explain-container{
    border-left:dotted 1px grey;
}

#demo{
    border:solid 1px gray;
}

.red-zone{
    color:#fc2200;
}

